{
  "env": {
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "better-styled-components",
    "jest"
  ],
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": 2,
    "arrow-spacing": "error",
    "better-styled-components/sort-declarations-alphabetically": 2,
    "brace-style": ["error", "stroustrup"],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "computed-property-spacing": ["error", "never"],
    "cond-assign": 0,
    "dot-notation": "error",
    "eqeqeq": "error",
    "generator-star-spacing": ["error", "before"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": ["error", {"before": true}],
    "linebreak-style": ["error", "unix"],
    "max-len": [1, 100, 3],
    "named": 0,
    "no-array-constructor": 2,
    "no-console": ["warn", {"allow": ["warn", "error", "info"]}],
    "no-dupe-class-members": "error",
    "no-dupe-keys": 2,
    "no-else-return": "error",
    "no-empty": "error",
    "no-func-assign": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["warn", {"max": 1, "maxBOF": 0, "maxEOF": 0}],
    "no-path-concat": "error",
    "no-redeclare": ["error", {"builtinGlobals": true}],
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": ["error", {"allow": ["done"]}],
    "no-sync": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-unused-labels": "off",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "no-use-before-define": ["error", {"functions": false, "classes": false}],
    "no-useless-constructor": "error",
    "no-var": "error",
    "object-curly-spacing": ["error", "never"],
    "object-shorthand": ["error", "always"],
    "prefer-spread": "error",
    "prefer-template": 2,
    "quotes": ["error", "backtick", {"allowTemplateLiterals": true}],
    "radix": "error",
    "semi": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always"],
    "template-curly-spacing":  ["error", "never"],
    "use-isnan": "error",
    "valid-jsdoc": "error",
    "valid-typeof": "error"
  }
}
